.title {
  font-size: 6rem;
  color: gold;
  font-family: "warcraft2";
  text-align: center;
  margin: 0 auto 5rem;
}

.carousel {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  justify-content: center;
}

.logo {
  height: 10rem;
  padding: 1.5rem;
  will-change: filter;
  transition: filter 300ms;
  border-radius: 100%;
}

.logo-tableau:hover {
  filter: drop-shadow(0 0 3rem #86208f);
}

.logo-upload:hover {
  filter: drop-shadow(0 0 3rem #068fff);
}

.logo-achats:hover {
  filter: drop-shadow(0 0 3rem #ff16a6);
}

.logo-token:hover {
  filter: drop-shadow(0 0 3rem #2ea300);
}

.logo-thryndil:hover {
  filter: drop-shadow(0 0 3rem #d6fc00);
}

.logo-olbia:hover {
  filter: drop-shadow(0 0 3rem #ff0000);
}

.logo-lukki:hover {
  filter: drop-shadow(0 0 3rem #a3a3a3);
}

.logo-sharubu:hover {
  filter: drop-shadow(0 0 3rem #d88200);
}





.loader {
  transform: translateZ(1px);
  width: 200px;
  height: 200px;
  margin: auto;
}

@keyframes flipCoin {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

.loader {
  animation: flipCoin 3s linear infinite;
  transform-style: preserve-3d;
}