.tableau {
  margin: 5rem;
  font-size: 0.8rem;
  font-weight: bold;
}

.tableau table {
  border-collapse: collapse;
  width: 100%;
}

.tableau td, .tableau th {
  border: 1px solid grey;
  padding: 0.5rem;
}

.icone {
  height: 2.5rem;
}

td {
  padding: 0.5rem;
}

.nom-produit-actif {
  color: gold;
}

.prix-max {
  color: #ff0000; 
}

.prix-min {
  color: #008000; 
}

.moyenne {
 color: rgb(255, 128, 25);
}

.median {
  color: rgb(169, 169, 255);
}

.prix-maximum {
  background-color: #ff0000; 
}

.prix-minimum {
  background-color: #008000; 
}

.prix-eleve {
  background-color: #df7272; 
}

.prix-bas {
  background-color: #6caf6c; 
}
