.tableau {
  margin: 5rem;
  font-size: 0.8rem;
}

.tableau table {
  border-collapse: collapse;
  width: 100%;
}

.tableau td, .tableau th {
  border: 1px solid grey;
  padding: 0.5rem;
}

.icone {
  height: 2.5rem;
}

td {
  padding: 0.5rem;
}

.nom-produit-actif {
  color: gold;
}

.prix {
  font-weight: bold;
}

.prix-maximum {
  background-color: #ff0000; 
  color: white;
}

.prix-minimum {
  background-color: #008000; 
  color: white;
}

.prix-eleve {
  background-color: #df7272; 
}

.prix-bas {
  background-color: #6caf6c; 
}
