.tableau {
  font-size: 0.8rem;
}

td {
  padding: 0.5rem;
}

.prix {
  font-weight: bold;
}

.prix-maximum {
  background-color: red;
  color: white;
}

.prix-minimum {
  background-color: green;
  color: white;
}