.Upload {

  width: 1000px;

  .upload-new-item {
    display: flex;
    margin-bottom: 50px;
  }

  .input-group input {
    width: 50%;
  }

  .upload-prices-buttons {
    display: flex;
    flex-direction: column;
  }

  textarea {
    width: 100%;
    height: 200px;
    margin-bottom: 20px;
    border: 2px solid #ccc;
    border-radius: 8px;
    font-size: 1rem;
  }

  button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    margin: 10px auto;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: #45a049;
    }

    &:disabled {
      background-color: #ccc;
      cursor: not-allowed;
    }
  }
  .input-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    input {
      width: 100%;
      padding: 10px;
      margin: 5px 0;
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
    }
  }

  .delete-button{
    background-color: #ad4545;
    color: white;
    padding: 5px 10px;
    margin: 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

}