.characterPage {
  display: flex;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
}

.character {
    text-align: center;
}

.name {
  color: white;
  font-size: 3rem;
  letter-spacing: 0.2rem;
  font-family: "warcraft1";
  margin-top: 10rem;
}

.raceAndClass {
  color: white;
  font-size: 1.5rem;
  font-family: "warcraft1";
  text-align: center;
}

.profilePicture {
  &-Thryndil {
    margin: 0rem auto;
    height: 55vh;
    width: 55vw;
  }

  &-Olbia {
    height: 65vh;
    width: 65vw;
    margin: -5rem auto;
  }

  &-Lukki {
    height: 50vh;
    width: 50vw;
    margin: 2rem auto;
  }

}

.characterPage {
  display: flex;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
}

.change-background-btn {
  position: absolute;
  right: 20px;
  top: 20px;
  padding: 10px;
  cursor: pointer;
}

