@use 'variables';

.logout-container {
  position: absolute;
  top: 1rem;
  right: 1rem;

  .logo-logout {
    height: 4rem;
    padding: 0.5rem;
    will-change: filter;
    transition: filter 300ms;
    border-radius: 100%;
    cursor: pointer;

    &:hover {
      filter: drop-shadow(0 0 3rem #ff0000); 
    }
  }
}

.title {
  font-size: 6rem;
  color: variables.$color-primary;
  font-family: variables.$font-warcraft2;
  text-align: center;
  margin: auto;
}

.welcome-message {
  font-family: Arial, sans-serif;
  color: variables.$color-primary;
  text-align: center;
  margin-top: 1rem;
}


.carousel {
  display: flex;
  flex-direction: column;
  align-items: center;

  &.centered {
    justify-content: center;
    min-height: 70vh;
  }
}

.non-character-icons,
.character-icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 2rem;
}

.non-character-icons.small-links {
  opacity: 0.5;
  filter: grayscale(100%);
  .logo {
    height: 5rem;
  }
}

.logo {
  height: 9rem;
  padding: 1.5rem;
  will-change: filter;
  transition: filter 300ms;
  border-radius: 100%;
}



.logo-auth:hover {
  filter: drop-shadow(0 0 3rem white);
}

.logo-tableau:hover {
  filter: drop-shadow(0 0 3rem #86208f);
}

.logo-upload:hover {
  filter: drop-shadow(0 0 3rem #068fff);
}

.logo-achats:hover {
  filter: drop-shadow(0 0 3rem #ff16a6);
}

.logo-token:hover {
  filter: drop-shadow(0 0 3rem #2ea300);
}

.logo-itemsList:hover {
  filter: drop-shadow(0 0 3rem #959696);
}

.alliance:hover {
  filter: drop-shadow(0 0 3rem blue);
}

.horde:hover {
  filter: drop-shadow(0 0 3rem red);
}

