@use 'variables';

.title {
  font-size: 6rem;
  color: variables.$color-primary;
  font-family: variables.$font-warcraft2;
  text-align: center;
  margin: 0 auto 5rem;
}

.carousel {
  display: flex;
  flex-direction: column; // Assure que les éléments sont alignés en colonne
  align-items: center;
}

.non-character-icons,
.character-icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 2rem;
}

.logo {
  height: 10rem;
  padding: 1.5rem;
  will-change: filter;
  transition: filter 300ms;
  border-radius: 100%;
}

.logo-tableau:hover {
  filter: drop-shadow(0 0 3rem #86208f);
}

.logo-upload:hover {
  filter: drop-shadow(0 0 3rem #068fff);
}

.logo-achats:hover {
  filter: drop-shadow(0 0 3rem #ff16a6);
}

.logo-token:hover {
  filter: drop-shadow(0 0 3rem #2ea300);
}

.logo-itemsList:hover {
  filter: drop-shadow(0 0 3rem #959696);
}

.alliance:hover {
  filter: drop-shadow(0 0 3rem blue);
}

.horde:hover {
  filter: drop-shadow(0 0 3rem red);
}
