@use 'variables';

.items-status-page {
  padding: 20px;
  background-color: #1d1d1d;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 100px auto;
  max-width: 100%px;


  .items-status-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 15px;
  }

  .items-status-item {
    padding: 12px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #ecf0f1;

    span {
      margin-right: 10px;
    }

    &.active {
      background-color: #009414; // Green for active items
    }

    &.inactive {
      background-color: #e74c3c; // Red for inactive items
    }

    &.modified {
      background-color: #ff9900; // Orange for modified items
    }

    .items-status-checkbox {
      transform: scale(1.5);
    }
  }

  .items-status-button {
    display: block;
    width: 200px;
    margin: 20px auto;
    padding: 10px;
    font-size: 16px;
    color: #fff;
    background-color: #0089b3;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s;

    &:hover {
      background-color: #003ab8;
    }
  }

  .modifications-list {
    margin-top: 20px;
    padding: 10px;
    background-color: #000000;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    .modifications-list-ul {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      gap: 15px;

      .modifications-list-li {
        margin-bottom: 10px;
        color: #ecf0f1;

        .modification-active {
          color: #2ecc71;
        }

        .modification-inactive {
          color: #e74c3c;
        }
      }
    }
  }
}
