@use 'variables';

.tableau {
  margin: 5rem;
  font-size: 0.8rem;
  display: flex;
  flex-direction: column;
}

.tableau th {
  font-size: 1.1rem;
}

.tableau button {
  margin: 2rem auto;
  padding: 1rem 2rem;
  font-size: 1rem;
}

.tableau button:hover {
  border: 1px solid variables.$color-primary;
}

.tableau table {
  border-collapse: collapse;
  width: 100%;
}

.tableau td, .tableau th {
  border: 1px solid grey;
  padding: 0.5rem;
}

.icone {
  height: 2.5rem;
}

td {
  padding: 0.5rem;
  font-weight: bold;
}

.nom-produit-actif {
  color: variables.$color-primary;
}

.prix-max {
  background-color: #8f0000;
  color: white;
}

.prix-min {
  background-color: #008000;
  color: white;
}

.moyenne {
  background-color: rgb(255, 255, 69);
  color: black;
}

.median {
  background-color: rgb(25, 132, 255);
  color: black;
}

.prix-maximum {
  background-color: #8f0000;
}

.prix-minimum {
  background-color: #008000;
}

.prix-eleve {
  background-color: #d10000;
}

.prix-bas {
  background-color: #00c900;
  color: black;
}

.prix-six-au-dix-eleve {
  background-color: #ff6d6d;
  color: black;
}

.prix-six-au-dix-faible {
  background-color: #22ff22;
  color: black;
}

.prix-onze-au-vingt-eleve {
  background-color: #fda8a8;
  color: black;
}

.prix-onze-au-vingt-faible {
  background-color: #8dff8d;
  color: black;
}
