@use 'variables';

.token-price {
  font-family: variables.$font-warcraft1;
  color: variables.$color-primary;
  font-size: 10rem;
  letter-spacing: 10px;
  margin-bottom: 20px;
}

.token-date {
  font-size: 1.3rem;
  font-style: italic;
  text-align: center;
  
}