@use 'variables';

.upload-container {
  width: 100%;
}

.upload-title {
  margin: 0 auto 20px;
}

.choice-container {
  display: flex;
  justify-content: center;
  gap: 50px;

  .choice-button {
    padding: 20px 50px;
    background-color: variables.$color-primary;
    color: black;
    font-size: 1rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: black;
      color: variables.$color-primary;
    }
  }
}

.upload-new-item, .upload-prices {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px; 

  .input-group {
    display: flex;
    flex-direction: column;
    gap: 10px;

    input, select, textarea {
      padding: 10px;
      font-size: 1rem;
      border: 1px solid #ccc;
      border-radius: 8px;
      width: 100%;
      box-sizing: border-box;

      &::placeholder {
        color: #999; 
      }
    }

    select {
      color: #999; 
      option[value=""]:disabled {
        color: #999;
      }
    }
    
  }

  .back-button {
    background-color: red; 
    color: white;
    padding: 10px;
    margin-top: 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: darkred;
    }
  }

  textarea {
    height: 150px;
  }

  .upload-prices-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .delete-button {
      background-color: #ad4545;
      color: white;
      padding: 5px 10px;
      margin: 5px 0;
      border: none;
      border-radius: 8px;
      cursor: pointer;
      transition: background-color 0.3s;
    }
  }
}
